<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main>
      <% include ../static/partials/messages.ejs %>

      <section  class="container show-wiki-container">
          <div class="panel panel-default panel-wikis-show">
              <h1 class="panel-heading"><%= wiki.title %></h1>
              <p><%= wiki.userId %></p>
              <p class="panel-body"><%= wiki.body %></p>
          </div>
          <% if(currentUser.hasPremium()) { %>
          <a href="/wikis/<%= wiki.id %>/edit" class="btn btn-warning">Edit</a>
          <% } %>
          <% if(currentUser.isAdmin() || currentUser.hasPremium()) { %>
          <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </section>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
